body{
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.first-mission{
    display: flex;
}
.heading-text{
    padding-left: 10px;
    border-left: 3.5px solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: salmon;
    border-image-slice: 1;
}
.heading-text{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-right: 40px;
    margin-top: 40px;
}
.colored-heading{
    color: rgb(235, 169, 29);
}
.first-img img{
    padding-top: 80px;
    height: 340px;
    width: 340px;
}
.first-mission-text h5{
    font-weight: 300;
}
button{
    font-size: 15px;
    padding: 15px 40px;
    background-color: rgb(218, 31, 31);
    color: white;
    border-radius: 5px;
    border: 0px;
}
.info-text{
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 20px;
}
.goals-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
}

.goals-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.goals img{
    padding: 0;
    height: 200px;
    width: 200px;
}
.goals{
    padding:10px 15px 10px 15px;
    font-size: 13px;
    font-weight: 300;
    background-color: rgb(161, 193, 223);
    border-radius: 5%;
    height: 330px;
    width: 300px;
}
.color2{
    background-color: rgb(196, 230, 203);
}
.color3{
    background-color: lightpink;
}

.webwork{
    position: relative;
    display: flex;
    padding-bottom: 100px;
}

.shape-coding-image{
    position: relative;
    left: -70px;
}
.coding-image{
    position: absolute;
    left: 0px;
}
.shape-project-image{
    position: relative;
    right: -80px;
    top: 170px;
}
.project-image{
    position: absolute;
    right: 0px;
}

.webwork-info-1{
    text-align: left;
    padding-top: 50px;
    padding-left: 220px;
}
.webwork-info-2{
    text-align: left;
    padding-top: 50px;
    padding-right: 220px;
}
.my-expertise{
    padding-top: 100px;
}
.my-skills{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.skill p{
    font-size: 15px;
}
.skill{
    border-radius: 5px;
    box-shadow: 10px 10px 40px grey;
    border: 4px solid;
    padding: 20px;
    height: 340px;
    margin-bottom: 20px;
    width: 380px;
}
.contact-me-btn a{
    text-decoration: none;
    color: white;
    cursor:pointer;
}

footer{
    margin-top: 100px;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: black;
    color: white;
    text-align: center;
}
footer h1{
    font-family: 'Poppins', sans-serif;
}